[build]
builder = "NIXPACKS"
buildCommand = "chmod +x mvnw && ./mvnw clean package -DskipTests -Dfile.encoding=UTF-8"

[deploy]
startCommand = "java -Dserver.port=$PORT -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar target/vitalexa-backend.jar"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[nixpacks]
nixpkgsVersion = "23.11"